// de-solarised base colours

$base-03: #222222;
$base-02: #272c30;
$base-01: #666369;
$base-00: #706f79;
$base-0: #87878e;
$base-1: #93939b;
$base-2: #d9d8d5;
$base-3: #e5e5e5;

// de-solarised accents

$yellow: #8B9929;
$orange: #ad5919;
$red: #cd2e22;
$magenta: #c72e77;
$violet: #7963c2;
$blue: #487bd2;
$cyan: #3e9290;
$green: #007330;

