@import 'resets';
@import 'typo';
@import 'variables';

body {
    background-color: $base-3;
    color: $base-03;
    margin: 10px auto;
    width: 1100px;
}

h1, h2, h3, h4, h5, h6 {
    color: $base-02;
}

a {
    color: $base-02;
}

a:visited {
    color: $violet;
}

body#index {
    // Main flex-box layout
    display: flex;
    flex-wrap: wrap;

    header#banner {
        flex: 0 0 100%;
        order: 0;

        h1 {
            line-height: 0.3em;
            & > a {
                color: $base-03;
                text-decoration: none;
                
                &:visited {
                    color: $base-03;
                    text-decoration: none;
                }
    
                &:hover {
                    color: $base-02;
                    text-decoration: underline;
                }    
            }
        }

        h2#subtitle {
            font-size: $font-size;
            line-height: $line-height;
        }
    }

    nav#menu {
        flex: 0 0 300px;
        order: 2;
    }

    section#content {
        flex: 0 0 calc(100% - 300px - #{$padding-horisontal * 2});
        order: 1;
        padding-right: $padding-horisontal;
        overflow: hidden;
    }

    footer#contentinfo {
        flex: 0 0 100%;
        order: 3;
    }

    ol#post-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@import 'pygments';