@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto+Slab:400,700|Source+Code+Pro:400,700");
body {
  font-size: 16px;
  line-height: 1.25em;
  font-family: "PT Sans", sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin-top: 0.3125em;
  margin-bottom: 0.625em; }

p {
  padding: 0;
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  text-align: justify; }

h1 {
  font-size: 3em;
  line-height: 1.05em; }

h2 {
  font-size: 2.25em;
  line-height: 1.25em; }

h3 {
  font-size: 1.75em;
  line-height: 1.25em; }

h4 {
  font-size: 1.125em;
  line-height: 1.25em; }

h5, h6 {
  font-size: 1em;
  line-height: 1.25em;
  margin-top: 0.625em;
  margin-bottom: 1.25em; }

pre {
  margin: 0;
  font-size: 0.75em; }

body {
  background-color: #f2f2f2;
  color: #222222;
  margin: 10px auto;
  width: 1100px; }

h1, h2, h3, h4, h5, h6 {
  color: #272c30; }

a {
  color: #272c30; }

a:visited {
  color: #7963c2; }

body#index {
  display: flex;
  flex-wrap: wrap; }
  body#index header#banner {
    flex: 0 0 100%;
    order: 0; }
    body#index header#banner h1 {
      line-height: 0.3em; }
      body#index header#banner h1 > a {
        color: #222222;
        text-decoration: none; }
        body#index header#banner h1 > a:visited {
          color: #222222;
          text-decoration: none; }
        body#index header#banner h1 > a:hover {
          color: #272c30;
          text-decoration: underline; }
    body#index header#banner h2#subtitle {
      font-size: 16px;
      line-height: 1.25em; }
  body#index nav#menu {
    flex: 0 0 300px;
    order: 2; }
  body#index section#content {
    flex: 0 0 calc(100% - 300px - 3.75em);
    order: 1;
    padding-right: 1.875em;
    overflow: hidden; }
  body#index footer#contentinfo {
    flex: 0 0 100%;
    order: 3; }
  body#index ol#post-list {
    list-style: none;
    padding: 0;
    margin: 0; }

.highlight {
  background: #e6e4e1;
  color: #272c30;
  border-radius: 3px;
  padding-top: 0.625em;
  padding-bottom: 1.25em;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Inserted */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Function.Magic */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable.Magic */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll {
    background-color: #e6e4e1; }
  .highlight .c {
    color: #706f79; }
  .highlight .err {
    color: #cd2e22; }
  .highlight .k {
    color: #3e9290; }
  .highlight .l {
    color: #7963c2; }
  .highlight .n {
    color: #222222; }
  .highlight .o {
    color: #c72e77; }
  .highlight .p {
    color: #706f79; }
  .highlight .ch {
    color: #706f79; }
  .highlight .cm {
    color: #706f79; }
  .highlight .cp {
    color: #706f79; }
  .highlight .cpf {
    color: #706f79; }
  .highlight .c1 {
    color: #706f79; }
  .highlight .cs {
    color: #706f79; }
  .highlight .gd {
    color: #cd2e22; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gi {
    color: #007330; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #75715e; }
  .highlight .kc {
    color: #3e9290; }
  .highlight .kd {
    color: #3e9290; }
  .highlight .kn {
    color: #c72e77; }
  .highlight .kp {
    color: #3e9290; }
  .highlight .kr {
    color: #3e9290; }
  .highlight .kt {
    color: #3e9290; }
  .highlight .ld {
    color: #ad5919; }
  .highlight .m {
    color: #487bd2; }
  .highlight .s {
    color: #8B9929; }
  .highlight .na {
    color: #007330; }
  .highlight .nb {
    color: #222222; }
  .highlight .nc {
    color: #007330; }
  .highlight .no {
    color: #3e9290; }
  .highlight .nd {
    color: #007330; }
  .highlight .ni {
    color: #222222; }
  .highlight .ne {
    color: #007330; }
  .highlight .nf {
    color: #007330; }
  .highlight .nl {
    color: #222222; }
  .highlight .nn {
    color: #222222; }
  .highlight .nx {
    color: #007330; }
  .highlight .py {
    color: #222222; }
  .highlight .nt {
    color: #c72e77; }
  .highlight .nv {
    color: #222222; }
  .highlight .ow {
    color: #c72e77; }
  .highlight .w {
    color: #222222; }
  .highlight .mb {
    color: #7963c2; }
  .highlight .mf {
    color: #7963c2; }
  .highlight .mh {
    color: #7963c2; }
  .highlight .mi {
    color: #7963c2; }
  .highlight .mo {
    color: #7963c2; }
  .highlight .sa {
    color: #ad5919; }
  .highlight .sb {
    color: #ad5919; }
  .highlight .sc {
    color: #ad5919; }
  .highlight .dl {
    color: #ad5919; }
  .highlight .sd {
    color: #ad5919; }
  .highlight .s2 {
    color: #ad5919; }
  .highlight .se {
    color: #7963c2; }
  .highlight .sh {
    color: #ad5919; }
  .highlight .si {
    color: #ad5919; }
  .highlight .sx {
    color: #ad5919; }
  .highlight .sr {
    color: #ad5919; }
  .highlight .s1 {
    color: #ad5919; }
  .highlight .ss {
    color: #ad5919; }
  .highlight .bp {
    color: #222222; }
  .highlight .fm {
    color: #007330; }
  .highlight .vc {
    color: #222222; }
  .highlight .vg {
    color: #222222; }
  .highlight .vi {
    color: #222222; }
  .highlight .vm {
    color: #222222; }
  .highlight .il {
    color: #7963c2; }
